---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="About me" description="About me">
    <Container>
        <div class="space-y-10">
          <h1 class="animate font-semibold">About me</h1>
        </div>
        <section>
          <article class="space-y-0">
            <span>
              <p class="leading-relaxed">
                I'm a Computer Networking student from Buenos Aires with a strong self-taught background in cybersecurity. I specialize in intrusion detection, digital forensics, and have hands-on experience in penetration testing. Currently focusing on Blue Team operations, malware analysis, and reverse engineering, while learning C to enhance my low-level programming skills.</p>
            </span>
          </article>                    
      </section>
    </Container>
</Layout>