---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="About me" description="About me">
    <Container>
        <div class="space-y-10">
          <h1 class="animate font-semibold">About me</h1>
        </div>
    </Container>
</Layout>